<div class="header">
  <app-header>{{header1}}</app-header>
  <input type="text" [(ngModel)]="searchText.location" placeholder="Type to filter by location" />
  <h3> There are {{(jobs | filterBy: searchText).length}} jobs in our database</h3>
</div>
<div class="jobBox" *ngFor="let job of jobs | filterBy:searchText">
  <h2> {{job.title}} - {{job.company}}</h2>
  <h3>{{job.type}} - {{job.location}}</h3>
  <h4> <a href="{{job.url}}">Apply here</a></h4>
  <p [innerHTML]="job.description"></p>
</div>
<h2 class="jobBox" *ngIf="(jobs | filterBy: searchText).length === 0">
  There is no job opening in your location :/
</h2>
<router-outlet></router-outlet>
